body {
    margin: 0;
    padding: 0;
    background:#189AB4;
    height: 100vh;
    overflow: hidden;
}
.center {
    width: 430px;
    margin: 120px auto;
    position: relative;
    border: #05445E 10px;
    border-style: solid;
    align-content: center;
}
.center form {
    position: absolute;
    background: #D4F1F4;
    width: 100%;
    padding: 50px 10px 0 30px;
    box-sizing: border-box;
    border: 10px solid #05445E;
    border-radius: 0 0 5px 5px;
}
.center form h2 {
    color: #05445E;
    font-weight: 200;
    font-size: 30px;
    font-family: cursive;
}
form input[type="submit"] {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 130px;
    height: 45px;
    color:#75E6DA;
    cursor:pointer;
    line-height: 45px;
    border-radius: 45px;
    border-radius: 5px;
    background: #05445E;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
form input[type="submit"]:hover {
    background: #75E6DA;
    transition: .5s;
    color: #05445E;
}